<nav class="navbar sticky-top navbar-light bg-light">
    <div class="btn-group dropright">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="oi oi-menu"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <button class="dropdown-item disabled" type="button" disabled>Подбор рецептов</button>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Управление</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/cookbook/recipes">Рецепты</a>
            <a class="dropdown-item" href="/cookbook/i_types">Типы ингредиентов</a>
            <a class="dropdown-item" href="/cookbook/ingredients">Ингредиенты</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Настройки</h6>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item disabled" type="button" disabled>Генерация</button>
            <a class="dropdown-item" href="/cookbook/logout">Сменить пользователя</a>
        </div>
    </div>
    <div class="navbar-header">
        <span class="navbar-brand">{{ page_header_name }}</span>
    </div>
    <span class="navbar-text">Вход выполнен от имени "{{name}} {{lastname}}"</span>
</nav>