<!doctype html>
<html lang="en">
{% include "elements/common_header.html" with page_name="Рецепты" page_description="Редактирование списка рецептов" %}
<body>
    {% include "elements/common_scripts.html" with need_tables=True %}
    <!-- Page here -->
    {% include "elements/nav_panel.html" with page_header_name="Управление рецептами" %}
    <!-- Header with alert -->
    {% include "elements/alert.html" with alert=alert %}
    <div class="container">
        <div class="row mt-4">
            <div class "col-12">
                <h2>Рецепты в базе</h2>
                <table class="table table-bordered table-hover" id="main-table">
                    <thead>
                        <tr>
                            <th scope="col" width="15%">Название</th>
                            <th scope="col" width="15%">Категория</th>
                            <th scope="col" width="20%">Ингредиенты</th>
                            <th scope="col" width="50%">Описание</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rcp in recipes %}
                        <tr>
                            <th scope="row">{{ rcp.name }}</th>
                            <td>
                                <span class="badge badge-pill badge-primary">{{ rcp.category }}</span>
                                <br/>
                                {% for t in rcp.tags %}
                                    <span class="badge badge-pill badge-success">{{ t }}</span>
                                {% endfor %}
                            </td>
                            <td>
                                <ul class="list">
                                {% for ingr in rcp.ingredients %}
                                    <li>{{ ingr }}</li>
                                {% endfor %}
                                </ul>
                            </td>
                            <td>
                                {% if rcp.description is not None %}
                                <span class="">{{rcp.description}}</span>
                                <br/>
                                {% endif %}
                                {% if rcp.url is not None %}
                                    <a href="{{ rcp.url }}">Подробнее...</a>
                                    <br/>
                                {% endif %}
                                <a class="btn btn-success btn-sm btn-outline" href="edit/{{ rcp.uid }}" role="button"><span class="oi oi-wrench"></span></a>
                                <a class="btn btn-danger btn-sm btn-outline" href="delete/{{ rcp.uid }}" role="button"><span class="oi oi-x"></span></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="row mt-4">
                <div class="col-sm-12">
                    <a class="btn btn-primary" href="edit" role="button">Добавить рецепт</a>
                </div>
            </div>

        </div>
    </div>
    {% include "elements/footer.html" %}
</body>
</html>