<!doctype html>
<html lang="en">
{% include "elements/common_header.html" %}
<body>
    {% include "elements/common_scripts.html" with need_tables=True %}
    <!-- Page here -->
    {% include "elements/nav_panel.html" %}
    <div class="container">
        <div class="row mt-4">
            <div class "col-12">
                <table class="table table-bordered table-hover" id="main-table">
                    <thead>
                        <tr>
                            <th scope="col" width="15%">Название</th>
                            <th scope="col" width="15%">Категория</th>
                            <th scope="col" width="20%">Ингредиенты</th>
                            <th scope="col" width="50%">Описание</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rcp in recipes %}
                        <tr>
                            <th scope="row">{{ rcp.name }}</th>
                            <td>
                                <span class="badge badge-pill badge-primary">{{ rcp.category }}</span>
                                <br/>
                                {% for t in rcp.tags %}
                                    <span class="badge badge-pill badge-success">{{ t }}</span>
                                {% endfor %}
                            </td>
                            <td>
                                <ul class="list">
                                {% for ingr in rcp.ingredients %}
                                    <li>{{ ingr }}</li>
                                {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <span class="">{{rcp.description}}</span>
                                <br/>
                                <a href="{{ rcp.url }}">Подробнее...</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="row mt-4">
                <div class="col-sm-12">
                    <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseNew" aria-expanded="false" aria-controls="collapseNew">
                        Добавить новый рецепт
                    </button>
                </div>
                <div class="col-sm-12">
                    <div class="collapse" id="collapseNew">
                        <div class="card card-body">
                            Да, было бы круто
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>